@{
    ViewData["Title"] = "Админ панель";
}
<link rel="stylesheet" href="~/lib/bootstrap-social-5.1.1/bootstrap-social.css" />
<link rel="stylesheet" href="~/lib/bootstrap-social-5.1.1/assets/css/font-awesome.css" />
<div>
    <h1 style="text-align:center">Панель администратора</h1>
    <hr class="col-xs-12" />
    <a class="btn btn-danger w-50 mx-auto nav-link text-white" asp-area="" asp-controller="Admin" asp-action="CreatePublication">Добавить публикацию</a>
    <div style="margin-top:20px">
        <hr class="col-xs-12" />
        <a class="btn btn-danger w-50 mx-auto nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Logout">Выйти из аккаунта</a>
    </div>
</div>